# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
# /config/secrets.yml

# temp files created by puma and redis
/shared
dump.rdb

# editor settings
.idea

/node_modules
