language: ruby
os: linux
dist: xenial
rvm:
- 3.0.2
gemfile: Gemfile
before_install:
- sudo apt-get install libsodium-dev -y
env:
  global:
  - VERBOSE=true
  - TIMEOUT=1
services:
- redis
notifications:
  slack:
    secure: lgbFt1Trj70daiEcKBol6QsyciD6lBFXYq//cEdYcbluuGhM1cL/ZtMkaJgIekab8qcLLP5ondlvES+BHahMtrDFL7EZuixdGUF/ajfRXshOZ+JNfkctQr24Xujjc1RDAOPBROp/mPL50MNlojumF1dgWjbtOHX8kA/ZH/2zUYlbi7d5Bel+L082EQbreBIBv+HgFjosTdxjN0siC3QwLHFfvv+1rXu4JmlNtsLHsJ93UI8teLIpXEilE96vUxPXQUW9BxzLZS7Y6xq9HQ45jykrw2fOrn73wZtkoNP2o3hAxG3hMdwoSShZNCx0FZk9jb5h+hIdQFfkqAQ1s+tZOS9LQ2vr9HEmSYEQDynKob8bu9/bbBJN+3GvuxjkFP2po2ExAncRFgi3n7PbOKViJd13nGg9oYxQlWpnn0NzEb8F9iGGdpusCwG4XmECGndUn0TKclFOBBlhQG/+0+lbYog31yYEFAd3Vefcgehw8VxSu09DBzZwcqxHyqi5GpNXERnfEYl47TJE333aL4iltz2HSAbmigSzJ4KAPt9JX6tSxzgi8jBbAth3QxlAfys95Y1tYyjcj7ADUK+IJbyp2w/3YNGBxQGvAD/ohkh5LgHcACleGJlD3XdgNwWI/WKjKRGxRnN6LivI2nAP54QF/J42AwIQgZw8lzttXSVCp3U=
  email: false
